@glacier: #000;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Helvetica Neue";
    color: @glacier;
}

a {
    color: @glacier;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.btn {
    cursor: pointer;
}

// -------------------------------------------------------------------------------------------------

#bar {
    width: 20%;
    min-width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 3px solid @glacier;    
    background-color: #fff;
    z-index: 2;
    
    h2 { font-size: 30px; }
    h4 { font-size: 20px; }

    > .contents {
        padding: 40px;
    }

    .bar-item {
        margin-bottom: 20px;
    }
    
    .thing-list > .list {
        padding-top: 5px;
        > .thing {
            border-bottom: 1px solid lighten(@glacier, 90%);
            font-weight: 200;
            letter-spacing: 1px;
        }
    }

    .social {
        display: flex;
    }

    .social-link {
        margin-right: 20px;
        padding: 2px 0;
        border-bottom: 1px solid #fff;
        &:hover {
            border-color: @glacier;
        }
    }
}

#page {
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
}

#home-page, #sorter-page, #matrix-page, #signal-page {
    padding: 50px 0 0 50px;
}

#state-inspector {
    position: fixed;
    z-index: 3;
    bottom: 0px;
    left: 0px;
    width: 100%;
    transition: height 0.2s ease-out;
    background-color: #222;
    
    > .code-container {
        color: #ddd;
        overflow: scroll;
        height: 80px;
        padding: 10px;
    }
}

#inspector-toggle {
    background-color: @glacier;
    color: #fff;
    position: absolute;
    top: -30px;
    right: 7px;
    border: 3px solid @glacier;
    cursor: pointer;
}

code.edn-map .pair > .key { color: #f00; margin-right: 1em; }



// home.page.home ----------------------------------------------------------------------------------



// home.page.sorter --------------------------------------------------------------------------------

#sortable-list {
    position: relative;
    margin-top: 20px;
    
    > .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        transition: transform 1.5s ease-in-out;
        -webkit-transition: -webkit-transform 1.5s ease-in-out;
    }
}

#sortable-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    .slider {
        margin: 0 10px;
        flex-grow: 1;
    }
}



// home.page.matrix --------------------------------------------------------------------------------

#matrix-page {
    display: flex;
    flex-direction: column;
    
    > .mat-container {
        margin-top: 60px;
        width: 600px;
        height: 600px;

        .mat {
            display: flex;
            width: 90%;
            height: 90%;
            margin: auto;
            border: 1px solid black;
            border-radius: 300px;
        }
    }

    > .mat-controls {
        display: flex;
        flex-direction: column;
        width: 600px;
        z-index: 1;        
    }

}



// home.page.cube ----------------------------------------------------------------------------------

#cube-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
    height: 100vh;
    
    > .camera-controls {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    #cube-container {
        display: flex;
        // height: 100vh;
        transform-style: preserve-3d;
        transition: transform 1s linear;
        transform: rotateX(-45deg) rotateY(-45deg);

        > .window {
            margin: auto;
            width: 100px;
            height: 100px;
        }


    }

    #cube-container .cube {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 1s linear;
    }

    #cube-container .cube > .face {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        background-color: #000;
        cursor: pointer;

        &.front {
            transform: rotateY(90deg) translateX(-100%) rotateY(-90deg);
            background-color: red;
            > .cube { transform: rotateY(-90deg) translateX(20%) rotateY(90deg); }
        }

        &.top {
            transform: translateY(-50%) rotateX(90deg) translateY(50%);
            background-color: orange;
            > .cube { transform: translateY(-50%) rotateX(-90deg) translateY(-70%); }
        }

        &.right {
            transform: translateX(50%) rotateY(90deg) translateX(-50%);
            background-color: yellow;
            > .cube { transform: translateX(50%) rotateY(-90deg) translateX(70%); }
        }

        &.left {
            transform: translateX(-50%) rotateY(-90deg) translateX(50%);
            background-color: green; 
            > .cube { transform: translateX(-50%) rotateY(90deg) translateX(-70%); }
        }

        &.bottom {
            transform: translateY(50%) rotateX(-90deg) translateY(-50%);
            background-color: blue;
            > .cube { transform: translateY(50%) rotateX(90deg) translateY(70%); }
        }

        &.back {
            transform: rotateY(180deg);
            background-color: violet;
            > .cube { transform: rotateY(-90deg) translateX(120%) rotateY(-90deg); }
        }
    }

}



// home.page.signal --------------------------------------------------------------------------------

#signal-page {
    .scene {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}